<phpunit bootstrap="vendor/autoload.php" colors="true" verbose="true">
    <testsuites>
        <testsuite name="Number to kazakh words tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true"
              processUncoveredFiles="true"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>

        <exclude>
            <file>src/Arr.php</file>
        </exclude>

        <report>
            <clover outputFile="build/report/clover.xml"/>
            <html outputDirectory="build/report/coverage" lowUpperBound="50" highLowerBound="90"/>
            <php outputFile="build/report/coverage.php"/>
            <text outputFile="build/report/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
            <xml outputDirectory="build/report/xml-coverage"/>
        </report>
    </coverage>

    <logging>
        <testdoxHtml outputFile="build/logs/testdox.html"/>
        <testdoxText outputFile="build/logs/testdox.txt"/>
        <testdoxXml outputFile="build/logs/testdox.xml"/>
        <text outputFile="build/logs/logfile.txt"/>
    </logging>
</phpunit>